body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #bbc5b6;
}

.container {
  background-color: #d5dfd0;
  padding-bottom: 16px;
  padding-top: 16px;
}

a {
  color: #5a5646;
}

.navbar-brand {
  height: 70px;
  padding: 0px;
}

.card-header {
  background-color: #5a5646;
  color: #ffffff;
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
}

.card {
  margin-top: 30px;
}


h3 {
  font-size: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: 'Share Tech Mono', monospace;
  color: #5a5646;
}

.carousel {
  width: 100%;
  height: 320px;
  overflow: hidden;
}

footer {
  height: 60px;
  background-color: #5a5646;
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  width:100%;
}

.carousel-inner .carousel-item {
  height: 320px;  /* add this */
}

.carousel-inner .carousel-item .carousel-caption {
  text-shadow: 1px 1px 20px #000;
  font-family: 'Share Tech Mono', monospace;
}

#gamelist {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#gamelist td, #gamelist th {
  border: 2px solid #5a5646;
  border-radius: 4px;
  padding: 8px;
}

#gamelist tr:nth-child(even){background-color: #d5dfd0;}

#gamelist th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5a5646;
  color: white;
}

.navbar {
  background-color: #d5dfd0;
  border-bottom: 6px solid #5a5646;
}

.list_thumb {
  max-width: 80px;
}

.form-horizontal {
  margin-top: 20px;
}

.help-block {
  color: #5a5646;
  margin-bottom: 20px;
}

.control-label {
  font-weight: bold;
}

#game-main-image {
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 10px #5a5646;
}
 h4 {
   margin-bottom: 0px;
 }

 #review-form {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .form-check-label {
   margin-top: 10px;
   margin-bottom: 4px;
   font-weight: bold;
 }

 .btn.btn-lg.btn-success {
  margin-top: 10px;
 }

 h6 {
  color: #5a5646;
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
 }

 .card.reviews {
   border: 3px solid #5a5646;
   border-radius: 8px;
 }

 .card.home {
  border: 3px solid #5a5646;
  border-radius: 8px;
}

 h7 {
  color: #5a5646;
  font-size: 16px;
  font-family: 'Share Tech Mono', monospace;
 }

 form#login {
   margin-top: 20px;
 }

 label > input {
   visibility: hidden;
   position: absolute;
 }
 label > input + img {
  cursor: pointer;
  opacity: 0.5;
 }
 label > input:checked + img {
  opacity: 1;
 }
 input[type=radio] {
   margin-right: 30px;
 }
