 {{#if loggedin}}
    	{{> header_loggedin}}
  	 {{else}}
    	{{> header}}
  	 {{/if}}



<div class = "card logout">
	<div class ="card-body">
		<h3>>> You have been successfully logged out. </h3>
	</div>
</div>