<br>
<div class="container text-center">
    <h3>Forgot your password? No problem!</h3>
    <hr>
    <p>Please enter the Email you used to sign up</p>
    <form action="/forgot" method="POST" id="forgotPasswordForm">
        <input type="text" name="email" id="email" placeholder="johndoe@example.com">
        <input class="btn btn-sm btn-success" type="submit" value="Send Recovery Email">
    </form>
</div>