     {{#if loggedin}}
        {{> header_loggedin}}
     {{else}}
        {{> header}}
     {{/if}}
     
<div class="container">
    <form action="/forgot/new" method="POST">
        <p>New Password:</p>
        <input type="password" name="newPass" id="newPass">
        <br>
        <p>Confirm Password:</p>
        <input type="password" name="confirmPass" id="confirmPass">
        <input class="btn btn-sm btn-success" type="submit" value="Change Password">
    </form>
</div>