<h3>Browse All Games>></h3>
<p>Click on game titles below to view details.</p>

<table id="gamelist">
    <tr>
        <th>Image</th>
        <th>Game Name</th>
        <th>Description</th>
    </tr>
    {{#each gamesList}}
    <tr>
        <td><img class = "list_thumb" src="{{this.image_thumbnail}}"></td>
        <td><a href="/games/{{this.id}}">{{this.name}}</a></td>
        <td>{{this.description}}</td>
    </tr>
    {{/each}}
</table>

