
	<div class='main-content'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-7'>
					<div class='content-game-main'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-heading'>
								<div class='panel-title'>
									<h3>{{gameTitle}}</h3>
								</div>
								
							</div>
							<div class='panel-body'>
								<img src="{{gameImage}}" alt="" id="game-main-image">
							</div>
							<div class='panel-body'>
								{{gameDescription}}
							</div>
						</div>
					</div>
				</div>
				<div class='col-md-5'>
					<div class='content-game-stats'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-heading'>
								<div class= 'panel-title'>
									<h4>Reviews</h4>
								</div>
							</div>
							<div class='panel-body'>
								<ul class='list-group game-stat-list'>
									<li class='list-group-item game-stat'>
										<span class='badge'>8.5</span>
										<a href="">Overall Score</a>
									</li>
									<li class='list-group-item game-stat'>
										<span class='badge'>8.3</span>
										<a href="">Gameplay</a>
									</li>
									<li class='list-group-item game-stat'>
										<span class='badge'>8.3</span>
										<a href="">Replayability</a>
									</li>
									<li class='list-group-item game-stat'>
										<span class='badge'>8.2</span>
										<a href="">Graphics</a>
									</li>
									<li class='list-group-item game-stat'>
										<span class='badge'>7</span>
										<a href="">Soundtrack</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div> <!--  end row -->
			
		
				<div class= 'row'>
					<div class= 'col-md-10 col-md-offset-1'>
						<div class = 'content-game-review'>
							<div class='panel panel-default rp-panel'>
								<div class = 'panel-heading'>
									<div class='panel-title'>
										<h4>Review This Game!</h4>
										<hr>
									</div>
								</div>
								<div class='panel-body'>
									<form action="/register/api" method="POST">
										<fieldset>
											<div class="form-check form-check-inline">
												<label class="form-check-label" for="gameplay">Gameplay </label>
												<div class="controls">
													<!-- Gameplay -->
													<input type="radio" name="gameplay" id="inlineRadio1" value="1">1
													<input type="radio" name="gameplay" id="inlineRadio2" value="2">2
													<input type="radio" name="gameplay" id="inlineRadio3" value="3">3
													<input type="radio" name="gameplay" id="inlineRadio4" value="4">4
													<input type="radio" name="gameplay" id="inlineRadio5" value="5">5
													<input type="radio" name="gameplay" id="inlineRadio6" value="6">6
													<input type="radio" name="gameplay" id="inlineRadio7" value="7">7
													<input type="radio" name="gameplay" id="inlineRadio8" value="8">8
													<input type="radio" name="gameplay" id="inlineRadio9" value="9">9
													<input type="radio" name="gameplay" id="inlineRadio10" value="10">10
												</div>
											</div>
											<div class="form-group">
												<label for="replayability" class="control-label">Replayability</label>
												<div class="controls">
													<!-- Replayability -->
													<input type="radio" name="replayability" id="inlineRadio1" value="1">1
													<input type="radio" name="replayability" id="inlineRadio2" value="2">2
													<input type="radio" name="replayability" id="inlineRadio3" value="3">3
													<input type="radio" name="replayability" id="inlineRadio4" value="4">4
													<input type="radio" name="replayability" id="inlineRadio5" value="5">5
													<input type="radio" name="replayability" id="inlineRadio6" value="6">6
													<input type="radio" name="replayability" id="inlineRadio7" value="7">7
													<input type="radio" name="replayability" id="inlineRadio8" value="8">8
													<input type="radio" name="replayability" id="inlineRadio9" value="9">9
													<input type="radio" name="replayability" id="inlineRadio10" value="10">10
												</div>
											</div>
										</fieldset>		
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
		




		</div><!--   end container -->
	</div> <!-- end content-main -->
