<h1>this is the {{title}} page</h1>

<table>
    <tr>
        <th>Image</th>
        <th>Game Name</th>
        <th>Description</th>
    </tr>
    {{#each gamesList}}
    <tr>
        <td><img src="{{this.image_thumbnail}}"></td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
    </tr>
    {{/each}}
</table>

