
	<div class='main-content'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-7'>
					<div class='content-game-main'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-heading'>
								<div class='panel-title'>
									<h3>Specific Game</h3>
								</div>
								
							</div>
							<div class='panel-body'>
								<img src="" alt="" id="game-main-image">
								Game Image goes here
							</div>
						</div>
					</div>
				</div>
				<div class='col-md-5'>
					<div class='content-game-stats'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-heading'>
								<div class= 'panel-title'>
									<h4>Reviews</h4>
								</div>
							</div>
							<div class='panel-body'>
								<ul class='list-group game-stat-list'>
									<li class='list-group-item game-stat'>
										<span class='badge'>8.5</span>
										<a href="">Overall Score</a>
									</li>
									<li class='list-group-item game-stat'>
										<span class='badge'>8.3</span>
										<a href="">Gameplay</a>
									</li>
									<li class='list-group-item game-stat'>
										<span class='badge'>8.3</span>
										<a href="">Replayability</a>
									</li>
									<li class='list-group-item game-stat'>
										<span class='badge'>8.2</span>
										<a href="">Graphics</a>
									</li>
									<li class='list-group-item game-stat'>
										<span class='badge'>7</span>
										<a href="">Soundtrack</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div> <!--  end row -->
			
		
				<div class= 'row'>
					<div class= 'col-md-10 col-md-offset-1'>
						<div class = 'content-game-review'>
							<div class='panel panel-default rp-panel'>
								<div class = 'panel-heading'>
									<div class='panel-title'>
										Review This Game
									</div>
								</div>
								<div class='panel-body'>
									<form action="">

										<div class='form-group rp-radio' id='form-gameplay'>
											<label class="radio-inline">
							  				<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
											</label>
											<label class="radio-inline">
							 					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
											</label>
											<label class="radio-inline">
							  				<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
											</label>
										</div>
										<div class='form-group rp-radio' id='form-replayability'>
											<label class="radio-inline">
							  				<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
											</label>
											<label class="radio-inline">
							 					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
											</label>
											<label class="radio-inline">
							  				<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
											</label>
										</div>		
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
		




		</div><!--   end container -->
	</div> <!-- end content-main -->
