

	<!-- MAIN CONTENT -->
	
	<div class='main-content'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-9'>

					<!-- CALLING THIS 'HERO GAMES' - GAMES TO SHOWCASE -->

					<div class='content-hero-games'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-body'>
								Content for hero games goes here...maybe slider, carousel
							</div>
						</div>
					</div>
				</div>
				<div class='col-md-3 col-offset-1'>

					<!-- ENTRY POINT TO REVIEW A GAME, INCLUDES SEARCH FORM -->

					<div class='content-review-game'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-heading'>
								<div class= 'panel-title'>
									<h3>Review a game</h3>
								</div>
							</div>
							<div class='panel-body'>
								<p><a href="">Go here to review a game</a></p>
								<div class='row'>
									<div class='col-xs-12'>
										<div class="form-group" action="/action_page.php">
	    								<div class="input-group">
	      								<input type="text" class="form-control" id="game" placeholder="Search for game..."  name="game">
	    								
		    								<span class='input-group-btn'>
		    									<button type="button" class="btn btn-default">Submit</button>
		    								</span>
	    								</div>
	    							</div>
  								</div>
  							</div>
							</div>
						</div>
					</div>
				</div>
			</div>  <!-- END ROW 1 -->
			<div class='row'>
				<div class='col-md-4'>

					<!-- TOP 10 REVIEWED GAMES LIST -->

					<div class='content-best-games'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-heading'>
								Best reviewed games!
								<span class='badge'>Score</span>
							</div>
							<ul class='list-group game-list' id='best-games-list'>
								<li class='list-group-item game'>
									<span class='badge'>8.5</span>
									<a href="">Awesome game 1</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>8.3</span>
									<a href="">Awesome game 2</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>8.2</span>
									<a href="">Awesome game 3</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>7</span>
									<a href="">Awesome game 4</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class='col-md-4'>

					<!-- WORST 10 GAMES LIST -->

					<div class='content-worst-games'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-heading'>
								Worst reviewed games!
							</div>
							<ul class='list-group game-list' id='worst-games-list'>
								<li class='list-group-item game'>
									<span class='badge'>3.5</span>
									<a href="">bad game 1</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>4.3</span>
									<a href="">bad game 2</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>5.2</span>
									<a href="">bad game 3</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>6.2</span>
									<a href="">bad game 4</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class='col-md-4'>

					<!-- NEW GAMES LIST -->

					<div class='content-new-games'>
						<div class='panel panel-default rp-panel'>
							<div class='panel-heading'>
								New games!
							</div>
							<ul class='list-group game-list' id='new-games-list'>
								<li class='list-group-item game'>
									<span class='badge'>1.15.18</span>
									<a href="">new game 1</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>1.18.18</span>
									<a href="">new game 2</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>2.1.18</span>
									<a href="">new game 3</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge'>3.5.18</span>
									<a href="">new game 4</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>  <!-- END ROW 2 -->
		</div> <!-- END CONTAINER -->
	</div> <!--  END MAIN CONTENT -->
	
	